@import "./_common.scss";
@import "./slider.scss";
@import "./services.scss";
@import "./courses.scss";
@import "./about&testimonals.scss";
@import "./principles.scss";
@import "./feed.scss";
@import "./footer.scss";
@import './header.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}