@import "./_common.scss";

.about {
    background-color: #2e4a71;
    @include containers();

    h2 {
        @include title;
        margin-bottom: 20px;
        height: unset;
        color: rgba(243, 243, 243, 0.842);
    }

    p {
        color: rgba(221, 221, 221, 0.664);
    }

    span {
        color: $Green;
    }
}

.testimonal {
    @include containers();

    h2 {
        @include title;
        display: inline-block;
        margin-bottom: 100px;
    }

    &-card {
        height: 300px;
    }

    &-author {
        height: 20%;
        display: flex;
        padding: 0 20px;
        justify-content: flex-start;
        p {
            margin: 0;
            color: #868082;
        }
    }

    strong {
        color: rgb(104, 104, 104);
    }

    &-message {
        padding: 20px;
        color: #b0a8a6;
    }

    &-image {
        width: 70px;
        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
    }

    .slick-dots {
        bottom: 30px;
        li {
            margin: 0;
        }
        button::before {
            color: $Green;
        }
        .slick-active {
            button::before {
                color: $Green;
            }
        }
    }
}
