@import './common.scss';

.about {
    background-color: #2e4a71;
    padding: 5% 12%;
    h2 {
        @include title;
        color: rgba(243, 243, 243, 0.842);
    }
    p {
        color: rgba(221, 221, 221, 0.664);
    }
    span {
        color: $Green;
    }
}