@import './common.scss';

.services {
    flex-wrap: wrap;
    @include containers();
    h2 {
        @include title
    }

    .cards-wrapper {
        width: 100%;
    }
    &-card {
        border: 1px solid rgba(165, 165, 165, 0.541);
        width: 330px;
        margin: 0 10px;
        padding: 0 20px;
        padding-bottom: 40px;
        button {
            @include button;
            width: 150px;
        }
        h5 {
            margin-bottom: 20px;
            color: rgb(58, 58, 58);
        }
        p {
            color: rgba(66, 66, 66, 0.795);
            margin-bottom: 30px;
        }
    }
}

.hexagon {
    position: relative;
    width: 100px;
    margin: auto;
    bottom: 23%;
    z-index: 4;
    overflow: visible;
    &-middle {
        width: 100px;
        background-color: $Green;
        height: 60px;
        svg {
            font-size: 44px;
            color: rgba(255, 255, 255, 0.911);
            position: relative;
            top: 5px;
        }
    }
    &-top {
        border-bottom: 30px solid $Green;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        transform: translateY(1px) scaleX(1.01);
    }
    &-bottom {
        border-top: 30px solid $Green;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        margin-bottom: -35px;
        transform: scaleX(1.01) translateY(-1px) ;
    }
}