.slider {
    width: 100%;
    height: 95vh;

    img {
        width: 100%;
        height: 100%;
    }

    &-panel {
        background-color: rgb(16 16 16 / 63%);
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-text {
        position: absolute;
        width: 100%;
        height: 100%;
        color: rgba(255, 255, 255, 0.849);
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 80px;
        z-index: 6;
        flex-wrap: wrap;

        p {
            width: 40%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
        }

        @include breakPointmax(800px) {
            font-size: 60px;
        }

        @include breakPointmax(600px) {
            font-size: 50px;
            line-height: 90px;
        }
    }

    @include breakPointmax(880px) {
        height: 70vh;
    }

    .slick-dots {
        bottom: 30px;

        li {
            margin: 0;
        }

        button::before {
            color: rgba(255, 255, 255, 0.589);
        }

        .slick-active {
            button::before {
                color: white;
            }
        }
    }

    @include breakPointmax(500px) {
        height: 50vh;
    }
}

.slick-slide {
    position: relative;
}

.slick-dots {
    bottom: 25px;

    &-slide {
        display: inline-flex;
    }
}

.slicks {
    &-arrow {
        background-color: white;
        z-index: 5;
        position: absolute;
        width: 25px;
        height: 30px;
        padding: 5px;
        top: calc(50% - 25px);

        svg {
            color: rgba(128, 128, 128, 0.699);
        }

        border: none;
    }

    &-next {
        right: 0px;
    }
}